h1{
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 30px;
}

h3{
    margin-left: 100px;
}

h4{
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 20px;
    font-family: Verdana;
    FONT-SIZE:12pt; 
    font-weight:normal;     
}

li{ 
    margin-left: 0px;
    margin-top: 20px;
    font-family: Verdana;
    FONT-SIZE:12pt; 
    font-weight:normal;     
}

ul{
    margin-left: 0px;
    padding-left: 30px;
    list-style: none;
}

a{
    FONT-SIZE:14pt; 
    font-family: Verdana;
}

#container2{
    display: flex;
}

#box1{
    width: 50%;
    margin-left: 40px;    
    margin-top: 40px;
}

#box2{
    width: 50%;
    margin-top: 40px;
}

#datos{
    background-color: blue;
}

#imgheader{
    width: 200px;
    margin-left: 100px;
    margin-top: 15px ;
}