<app-menu></app-menu>
<div id="container2">
    <div id="box1">
        <img id="imgcontactanos" src="assets/img/4.jpg" alt="contactanos">
    </div>
    <div id="box2">
        <div>
            <h2>TELÉFONOS:</h2>
            <h4>Llamadas: (+58) 414-8520217</h4>
            <h4>WhatsApp: (+58) 414-8520217; (+57) 350-2924138 </h4>        
        </div>  
        <br>     
        <div>
            <h2>CORREOS ELECTRÓNICOS:</h2>
            <ul>
                <li *ngFor="let email of listaEmails">{{email}}</li>
            </ul>            
        </div> 
    </div>
</div>