.cm-nav-bar{
    background-color: rgba(139, 126, 126, 0.322);      
}

#imgheader{
    width: 150px;
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}

a{
    color:black;
}
