<div id="container">

</div>
<nav class="navbar navbar-expand-lg cm-nav-bar mb-3">
    <a class="navbar-brand" routerLink="/">
        <img id="imgheader" src="assets/img/logo_small.png" alt="imgheader">        
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/contacto">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" routerLink="/terminos">Terminos y condiciones</a>
            </li>            
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src={{userDto.avatarUrl}} width="40" height="40" class="rounded-circle">
                    {{userDto.name}}                
                </a>
                
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" (click)="signOut()">Cerrar sesión</a>                
                </div>
            </li>
        </ul>
    </div>
</nav>