<app-menu></app-menu>
<div id = "container-opciones"> 
    <button type="button" id="btn-analizar" class="btn btn-primary" (click)="analizar()"><i class="fas fa-play"></i> Analizar</button>
    <button type="button" class = "btn btn-secondary" *ngIf="resultadoDto" (click)="descargarPDF()"><i class="fas fa-download"></i> Descargar PDF</button>    
</div>
<div id ="container-data">
    <div id="container-resultados">        
        <div>
            <h5 class="card-header">Análisis de resultados</h5>
            <div class="card-body">
                <div id="div-table">
                    <p><b>Fecha:</b> {{resultadoDto.fechaGeneracion}}</p>                    
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">ESTUDIO</th>
                            <th scope="col">RESULTADO</th>
                            <th scope="col">POSIBLES VALORES</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td><b>PROBABILIDAD (%)</b></td>
                            <td>{{resultadoDto.probabilidad | percent}}</td>
                            <td>
                                <ul>
                                    <li>0 - 100%</li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><b>PRESENCIA DE SINTOMAS DEPRESIVOS</b></td>
                            <td>{{resultadoDto.presenciaSintomas}}</td>
                            <td>
                                <ul>
                                    <li>SI</li>
                                    <li>NO</li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><b>NIVEL DEPRESION</b></td>
                            <td>{{resultadoDto.nivelDepresion}}</td>
                            <td>
                                <ul>
                                    <li>ALTO</li>
                                    <li>MEDIO</li>
                                    <li>BAJO</li>
                                    <li>NINGUNO</li>
                                </ul>
                            </td>
                          </tr>
                          <tr>
                            <td><b>RECOMENDACION</b></td>
                            <td colspan="2">{{resultadoDto.recomendacion}}</td>
                          </tr>
                          <tr>
                            <td><b>OBSERVACION</b></td>
                            <td colspan="2"><p>El análisis y resultado realizado por <b>PsicoSist</b>, bajo ninguna condición intenta sustituir el diagnóstico realizado por un especialista.</p></td>
                          </tr>
                        </tbody>
                    </table>    
                </div>
                <div id="div-nube">
                    <h6 class="card-header"><b>Nube de palabras</b></h6>
                    <p>Una nube de palabras o nube de etiquetas es una representación visual de las palabras que conforman un texto, en donde el tamaño es mayor para las palabras que aparecen con más frecuencia.</p>
                    <img src="{{'data:image/jpg;base64,' + resultadoDto.nubePalabrasBase64}}">   
                </div>                                               
            </div>
        </div>
    </div>    
    <div id="container-posts">
        <div class="card">
            <h5 class="card-header">Posts analizados</h5>
            <div class="card-body body-posts">
                <app-post *ngFor="let post of listaPost" [post]=post [user]=userDto></app-post>
            </div>
        </div>   
    </div>    
</div>




   