#container-data{
    display: flex; 
}

#container-resultados{
    width: 70%;
    margin-left: 10px;
    margin-right: 10px; 
}

#container-posts{
    width: 30%;  
    margin-right: 10px;  
}

#container-opciones{
    margin: 10px;
}

#btn-analizar{
    margin-right: 10px;
}

#accordion{
    margin: 10px;
}

#div-table{
    margin: 10px;
}

#div-nube{
    margin: 10px;
}

.card{
    margin-bottom: 10px;
}

.cm-card{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.cm-card-header{
    margin: 10px;
    font-weight: bold;
}

.body-posts{
    height: 470px;
    padding: 1px;
    overflow-y: scroll;
}