<app-menu></app-menu>
<div id="container2">
    <h1>Términos y condiciones</h1>
    <h3> ¡Te damos la bienvenida a PsicoSist!</h3>
    <h4> PsicoSist es un software que sirve como herramienta de ayuda para psicólogos y psiquiatras, el objetivo
        principal es detectar personas con posible depresión a través de las publicaciones de texto realizadas en
        Facebook. Para usar el sistema debes cumplir con las siguientes condiciones:
    </h4>
    <ul>
        <li> Debes ser mayor de edad y tener una cuenta activa en Facebook.
        <li> Para utilizar este software debes iniciar sesion en tu Facebook.
        <li> En el Facebook debes tener publicaciones de tipo textual, para asi poder realizar el análisis.
    </ul>
    
    <h4> A fin de proporcionarte el servicio de detectar posibles sintomas de depresión, debemos tratar infomación
        sobre ti. El tipo de información que recopilaremos, son los post textuales realizado en Facebook. Usaremos
        la información recopilada solo para realizar el análisis.</h4>

    <h4>Es importante aclarar que el usuario y contraseña usado para iniciar sesión en Facebook NO es visualizado por
        las desarrolladoras de este sistema, el inicio de sesión es directamente con Facebook, nosotros asociamos el
        inicio de sesión a través de una API que nos va a permitir obtener los post textuales que has realizado con una
        privacidad de tipo pública.</h4>
    <br>
    
    <h3>¿Cómo puedes hacer llegar tus dudas sobre el sistema?</h3>
    <h4> Obtén más información sobre cómo funciona el software y su privacidad en <a
        routerLink="/contacto">contáctanos</a>. Si tienes preguntas sobre estos Términos y condiciones, puedes
        ponerte en contacto con nosotros.</h4>
    
</div>>