#container{
    display: flex;
}


h1{  
    text-align:center;  
    margin-top: 50px;
    margin-bottom: 30px;
}

h3{
    margin-left: 100px;
}

h4, li{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    font-family: Verdana;
     FONT-SIZE:12pt; 
     font-weight:normal; 
}

a{
    FONT-SIZE:14pt; 
    font-family: Verdana;
}

#box1{
width: 50%;
margin-left: 40px;
}

#box2{
    width: 50%;
}

#datos{
    background-color: blue;
}