<header>
    <div align="center"> 
        <img id="logo" src="assets/img/logo_small.png" alt="logo">
    </div>
</header>
<div id="box-container">
    <div id="box-2">
        <img id="neurona" src="assets/img/cerebro.jpg" alt="neuronas">
    </div>
    <div id="box-1"> 
        <ngb-alert #staticAlert *ngIf="!staticAlertClosed" (closed)="staticAlertClosed=true">Debe aceptar términos y condiciones</ngb-alert>
 
        <div class="form">
            <br>
            <br>
            <br>
            <label id="inicio">Inicia sesión con tu cuenta de Facebook</label>
            <br>
    
            <button id="btn-login-fb" (click)="signInWithFB()"><i class="fab fa-facebook"></i> Continuar con Facebook</button>
    
            <br>
            <label><input [(ngModel)]="boAutoriza" type="checkbox" id="cbox1" value="first_checkbox"> Acepto <a routerLink="/terminos">Términos y
                    condiciones</a></label><br>
            <br>
            <br>
            <a routerLink="/contacto">Contáctanos</a>
            <br>
            <br>
            <br>        
        </div>      
    </div>
    <div id="box-3">
        <img id="cerebro" src="assets/img/cerebroamarillo.png" alt="cerebro">
    </div>
</div>