body{
    background-color: white;   
}

header{
    margin-top: 50px;
    margin-bottom: 10px;
}

.form{
    background-color: rgba(255, 255, 255, 0.925);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 2px 2px rgb(202, 197, 197);
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
    background-color: rgb(48, 81, 230);
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #1a58df;
    font-size: large;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#inicio{
    margin-top: 20%;
}

#neurona{
    width: 400px;
    margin-left: 40px;
    margin-right: 10px;
}

#cerebro{
    width: 400px;
}

#contacto{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16px;
}

#box-container{
    display: flex;
    flex-direction: row;
}

#box-1 {
    width: 50%;
    height: 100%;
}

#box-2 {
    width: 50%;
    height: 100%;
    margin-top: 5%;
}

#box-3 {
    width: 50%;
    height: 90%;
    margin-top: 10%;
    margin-left: 10px;
}

#btn-login-fb{
    color:white;
    background-color: rgba(24,119,242,1);
    font-family: Graphik LCG Web, Graphik Arabic Web Regular, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, Lucida Grande, Sans-Serif;
    border: none;    
}

#logo{
    width: 200px;
    margin-top: 40px;
}
