<div id = container>
    <section class="post-heading">
        <div class="row">
            <div class="col-md-11">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object photo-profile avatar" src={{userDto.avatarUrl}}>
                    </a>
                  </div>
                  <div class="media-body">
                    <a href="#" class="anchor-username"><h4 class="media-heading">{{userDto.name}}</h4></a> 
                    <a href="#" class="anchor-time">{{postDto.createdDateTime | date: 'medium'}}</a>
                  </div>
                </div>
            </div>
             <div class="col-md-1">
                 <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
             </div>
        </div>             
    </section>
    <section class="post-body">
       <p>{{postDto.message}}</p>
    </section>       
</div>
