/*-- Global Selectors --*/
a{
    color:#47649F;
}

/*-- Content Style --*/
.post-footer-option li{
    float:left;
    margin-right:50px;
}

.post-footer-option li a{
    color:#AFB4BD;
    font-weight:500;
    font-size:1.3rem;
}

.photo-profile{
    border:1px solid #DDD;   
    width: 50px;
    height: 60px;
}

.anchor-username h4{
    font-weight:bold;    
}

.anchor-time{
    color:#ADB2BB;
    font-size:0.9rem;
}

.media-body{
    margin-left: 5px;
}

.post-footer-comment-wrapper{
    background-color:#F6F7F8;
}

.post-body{
    margin-top: 10px;
}

#container{
    padding: 10px;
    margin: 10px;        
    border: 1px solid #ddd;
    border-radius: 4px;
}


.avatar{
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}